.kitchen-display-container {
  display: none;
}

@media (min-width: 700px) {
  .kitchen-display-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--clr-one);
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid var(--clr-four);
    /* width: 100%; */
    box-shadow: 5px 5px 10px var(--clr-one);
    align-self: center;
    /* grid-area: 3 / 1 / 4 / -1; */
  }
  .kitchen-display-container::after {
    content: "Kitchen display";
    position: absolute;
    font-size: 1rem;
    top: -2em;
    left: 2em;
    background-color: var(--clr-two);
    padding: 0.5em;
    font-weight: 700;
    border: 2px solid var(--clr-four);
    border-radius: 1rem;
    z-index: 99;
  }
}
