.description-wrapper {
  z-index: 3;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding-top: 2rem;  
}

.project1 .description {
  width:90%;
  padding: 1rem;
  font-size: 0.9rem;
  /* display: inline-block; */
  border-radius: 20px;
  border: 1px solid var(--clr-four);
  background: rgba(27, 42, 65, 0.85); /* --clr-two as rgb   */
}

.project1 h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 1rem;
}

@media (min-width: 700px) {
  .project1 .description {
    padding: 2rem;
    opacity: 1;
    height: fit-content;
    box-shadow: 5px 5px 10px var(--clr-one);
  }

  .description-wrapper {
    max-width: calc(60% - 0.5rem);
  }
}


