.pos-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  filter: brightness(50%);
}

.pos-image {
  height: 80%;
  border-radius: 25px;
}

/* --------------------------------------------------------------------------------------------- */

@media (min-width: 700px) {
  .pos-container {
    filter: none;
    position: relative;

    grid-area: 1 / 3 / 3 / 4;
    height: fit-content;
    width: fit-content;
    align-self: center;
  }

  .pos-image {
    /* height: auto; */
    /* width: auto; */
    border: 7px solid black;
    position: relative;
    outline: 2px solid var(--clr-four);


    /* mask-image: linear-gradient(blue,transparent); */

  }

  .pos-container::after {
    content: "POS app";
    position: absolute;
    font-size: 0.8rem;
    top: -2em;
    left: 2em;
    color:var(--clr-six); 
    background-color: var(--clr-two);
    padding: .5em 1.5em;
    font-weight: 700;
    border: 2px solid var(--clr-four);
    border-radius: 1rem;
    z-index: 99;
  }

  /* .notch {
    position: absolute;
    width: 6px;
    height: 2.812em;
    background-color: black;
    left: -5px;
    border-radius: 100px 0 0 100px;
  }

  .n1 {
    top: 70px;
    height: 30px;
  }

  .n2 {
    top: 120px;
  }

  .n3 {
    top: 180px;
  }

  .n4 {
    left: 430px;
    top: 180px;
    transform: rotateY(180deg);
    height: 70px;
  } */
}
