.pos-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  filter: brightness(50%);
}

.pos-image {
  height: 80%;
  border-radius: 25px;
}

/* --------------------------------------------------------------------------------------------- */

@media (min-width: 700px) {
  .pos-container {
    height: fit-content;
    width: fit-content;
    display: block;
    filter: none;
    justify-self: center;
    position: relative;
  }

  .pos-image {
    /* width:300px; */
    border: 7px solid black;
    position: relative;
  }

  .notch {
    position: absolute;
    width: 6px;
    height: 2.812em;
    background-color: black;
    left: -5px;
    border-radius: 100px 0 0 100px;
  }

  .n1 {
    top: 70px;
    height: 30px;
  }

  .n2 {
    top: 120px;
  }

  .n3 {
    top: 180px;
  }

  .n4 {
    left: 430px;
    top: 180px;
    transform: rotateY(180deg);
    height: 70px;
  }
}
