.projects {
  background-color: var(--clr-two);
  padding: 2rem 0;
}

.project1 {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  position: relative;
  gap: 1rem;
  height: auto;
}

/* CSS for image overlay   */
/* reveals the buttons for projects links */

.github-btn {
  display: none;
}

.live-btn {
  display: none;
}

@media (min-width: 700px) {
  .project1 {
    padding: 2rem;
  }

  .img-btn-container {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 18px;
  }

  .overlay-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 2rem;
  }

  .overlay-text p {
    font-size: 1rem;
    text-align: center;
  }

  .img-btn-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
  }

  .highlight-btn {
    position: absolute;
    top: 66%;

    width: 4rem;

    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.35s ease;
    cursor: pointer;

    background-color: var(--clr-seven);
    color: var(--clr-four);

    border: 1px solid var(--clr-four);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 700;
    outline: 2px solid var(--clr-seven);
  }

  .highlight-btn:hover {
    background-color: var(--clr-two);
    color: var(--clr-seven);

    outline: 2px solid var(--clr-four);
  }

  .github-btn {
    left: 33%;
    display: block;
  }

  .live-btn {
    left: 66%;
    display: block;
  }

  .img-btn-container:hover .highlight-btn {
    opacity: 1;
  }

  .img-btn-container:hover .overlay-text {
    opacity: 1;
  }
}
