.projects {
  background-color: var(--clr-two);
  padding: 2rem 0;
}

.projects h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 1rem;
}

.project1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
}

.project1 .description {
  padding: 1rem;
  font-size: 0.9rem;
  display: inline-block;
  background-color: var(--clr-one);
  border-radius: 20px;
  z-index: 2;
  opacity: 0.85;
  border: 1px solid var(--clr-four);
}

.pos-wrapper {
  display: inline-block;
  width: 250px;
  position: absolute;
  top: 20%;
  z-index: 1;
  filter: brightness(40%);
}

.pos-wrapper img {
  border-radius: 14px;
}

.kitchen-display,
.phone-outline {
  display: none;
}

@media (min-width: 650px) {
  .project1 .description {
    padding: 1rem;
    max-width: 50%;
    opacity: 1;
    height: fit-content;
    box-shadow: 5px 5px 10px var(--clr-one);
  }

  .pos-wrapper {
    position: relative;
    filter: none;
    /* z-index: 1; */
  }

  .pos-image {
    position: relative;
    /* border-radius: 20px; */
    /* z-index: 100; */
  }

  .phone-outline {
    position: absolute;
    top: -28px;
    left: -164px;
    display: block;
    width: 577px;
    height: 608px;
    max-width: none;
  }

  .kitchen-display-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .kitchen-display {
    display: inline-block;
    background-color: var(--clr-one);
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid var(--clr-four);
    width: 50%;
    box-shadow: 5px 5px 10px var(--clr-one);
  }
}

.img-btn-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 18px;
}

.img-btn-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.7);
}

.highlight-btn {
  position: absolute;
  top: 66%;

  width: 4rem;

  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.35s ease;
  cursor: pointer;

  background-color: var(--clr-seven);
  color: var(--clr-four);

  border: 1px solid var(--clr-four);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}

.highlight-btn:hover {
  background-color: var(--clr-two);
  color: var(--clr-seven);

  outline: 2px solid var(--clr-four);
}

.github-btn {
  left: 33%;
}

.live-btn {
  left: 66%;
}

.img-btn-container:hover .highlight-btn {
  opacity: 1;
}
