.player-container {
  padding: 2rem;
  padding-top: 0;
  z-index: 3;
  position: relative;
  /* grid-area: 10 / 1 / 20 / 10; */
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  background-color: blue;
  border-radius: 20px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  border: 2px solid var(--clr-four);

  background-color: var(--clr-one);
  border-radius: 20px;
  z-index: 3;
  box-shadow: 5px 5px 10px var(--clr-one);
}

@media (min-width: 700px) {
  .player-container {
    padding: 0;
    align-self: center;
  }

  .player-container::before {
    content: "Intro video 30 seconds";
    position: absolute;
    font-size: 1rem;
    top: -2em;
    left: 2em;
    background-color: var(--clr-two);
    padding: 0.5em;
    font-weight: 700;
    border: 2px solid var(--clr-four);
    border-radius: 1rem;
    z-index: 99; 
   }

  .player-outer-wrapper {
    /* max-width: calc(45% - 2rem); */
    margin: 1rem;
  }
}
