.player-outer-wrapper {
  width: 100%;
  margin: 2rem;
  z-index: 3;
  margin-top: 0;
}

.player-wrapper {
  /* width: 90%; */
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  background-color: blue;
  border-radius: 20px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  border: 1px solid var(--clr-four);
  background-color: var(--clr-one);
  border-radius: 20px;
  z-index: 3;
  box-shadow: 5px 5px 10px var(--clr-one);
}

@media (min-width: 700px) {
  .react-player {
    opacity: 1;
  }

  .player-outer-wrapper {
    max-width: 60%;
  }
}
