body {
  position: relative;
}

.line-container {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 30px;
  width: 30%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.svg-line {
  /* display: inline-block; */
  height: 100%;
}
