.hero-wrapper {
  /* height: 100vh; */
  /* background-color: #add8e6; */
  /* background-color: red; */

  font-size: 4rem;
  overflow: hidden;
}

.hero {
  max-width: calc(var(--max-width) + 300px);
  margin: 0 auto;
  height: 70vh;
  display: grid;
  grid-gap:1rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* color: var(--clr-text); */
  /* position: relative; */
  /* background-color: yellow; */
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18,1fr);

}

.name {
  grid-area:3/2/19/9;
  /* background-color: bisque; */
}

.name h1 {
  font-weight: 600;
  /* width: 30rem; */
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  /* color: var(--clr-seaBlue); */
  /* background-color: blue; */
  position: relative;
  /* color: lightblue; */
}

.name p {
  font-size: 0.3em;
}

.blurb-wrapper {
  grid-area:12/12/17/28;

background-color: aqua;
  /* overflow: hidden; */
  font-size: 0.25em;
  position: relative;
}

.blurb-wrapper div {
  z-index: 2;
}

.sailboat-wrapper {
  /* background-color: #ff0000; */
  background-color: var(--clr-seaBlue);
  z-index: 2;

  /* width: fit-content; */
  position: relative;
  height: 30vh;
}























.sailboat {
  position: absolute;
  font-size: 7rem;
  /* width: 20px; */
  /* height: 200px; */
  /* background-color: red; */
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  top: -97px;
  left: calc(50vw - 100px);
  /* transform: translate(50%); */
  animation: sailAnimation 2s ease-in-out infinite;
  /* color:burlywood; */
  color: var(--clr-text);
  z-index: 1;
}


@keyframes sailAnimation {
  0%,
  100% {
    transform: rotate(0) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
}


.decorative {
  position: absolute;
  height:300px;
  width: 100vw; 
  max-width:100%;
  background-color: var(--clr-seaBlue);
  /* z-index: 999; */
}



