

.name {
  text-align: center;
  color: white;

  text-shadow: 0.01em 0 black, 0 0.01em black, -0.01em 0 black, 0 -0.01em black;
  font-family: "Valencia";
  position: relative;
  /* z-index: 1; */
  font-weight: 400;
  /* padding:1rem; */
  /* background-color: black; */
  /* background-image: url("../../Assets/Images/BenchKerryCompressed.webp"); */
  /* background-clip: text; */
  /* color: transparent; */
  /* background-position: bottom; */
  background-size: cover;
}
/* 
.name::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #355f08;
  z-index: -1;
  mix-blend-mode:screen;

} */

.letters {
  display: inline;
  text-align: center;
}

.web-design-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
}

.web-design {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.18em;
  font-weight: 400;
  color: white;
  text-shadow: none;
  top: 8em;
}

.hero-image-br {
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/BenchKerryCompressed.webp");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom; 
  position: relative;
  
    /* background-clip: text; */
    /* background-image: url("../../Assets/Images/BenchKerryCompressed.webp"); */
  /* background-position: 50% -10vh, 0 -70vh; */
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  /* border-radius: 0 0 0 10000px/1000px; */
  /* isolation: isolate; */
   /* background-attachment: fixed, fixed; */
}

/* .hero-image-br::after {
  content: "";
  position: absolute;
  background-color: var(--clr-two);
  height: 300px;
  width: 100%;
  bottom: 0;

  -webkit-mask-image: url(../../Assets/SVG/Curve.svg);
  mask-image: url(../../Assets/SVG/Curve.svg);
  mask-repeat: no-repeat;
  mask-position: bottom;
} */

.hero-wrapper {
  position: relative;
  /* overflow: hidden;      */
        /* test for z-index */
}

@media (min-width: 2560px) {
  .hero-wrapper {
    font-size: 250px;
  }
}

@media (max-width: 2560px) {
  .hero-wrapper {
    font-size: 250px;
  }
}

@media (max-width: 1440px) {
  .hero-wrapper {
    font-size: 200px;
  }
}

@media (max-width: 1024px) {
  .hero-wrapper {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    font-size: 105px;
  }
  .name {
    top: 10vh;
  }
}

@media (max-width: 425px) {
  .hero-wrapper {
    font-size: 92px;
  }
  .name {
    top: 20vh;
  }
}

@media all and (max-width: 375px) {
  .hero-wrapper {
    font-size: 78px;
  }
}

@media all and (max-width: 320px) {
  .hero-wrapper {
    font-size: 65px;
  }
}