.hero-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../../Assets/Images/BenchKerryCompressed.webp");
  background-position: center ;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  /* position: relative; */
  /* overflow:visible; */
  /* overflow-x: hidden; */
  contain: paint;
  transition: all 1s ease-out;
}

.name {
  font-size: 0.5em;
  position: sticky;
  /* bottom: 1em; */
  top: 1em;
  margin-bottom: 0.4em;
  background: linear-gradient(to top, black 10%, rgba(50, 74, 95, 1) 100%);
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;

  font-weight: 900;
  line-height: 1em;
  text-shadow: 15px 15px var(--clr-six);
}

.name::after {
  content: '';
  position: absolute;
  width:10px;
  height: .5em;
  bottom: -.4em;
  left: 4em;
  background-color: var(--clr-six);

}

.name span::first-letter {
  font-size: 1.2em;
  /* color:white */
}

/* .hero-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
} */

/* .hero-wrapper::before {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../../Assets/Images/BenchKerryCompressed.webp");
  background-position: bottom;
  background-size: cover;
  transform-style: preserve-3d;
  transform: translateZ(-1px) scale(2);
  background-attachment: fixed;
} */


  /* z-index: 999; */
  /* position: absolute; */
  /* font-size: 0.5em; */
  /* background-color: red; */
  /* transform: translateZ(0) ; */
  /* transform-style: preserve-3d; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateZ(-1px) scale(2) translate(-25%, -25%); */

  /* height: 100vh; */
  /* width: fit-content; */
  /* background-color: var(--clr-three); */
  /* background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url("../../Assets/Images/BenchKerryCompressed.webp"); */
  /* background:linear-gradient(var(--clr-three),var(--clr-one)); */
  /* background: linear-gradient(90deg, black 10%, rgba(50, 74, 95, 1) 40%); */
  /* background-image: url("../../Assets/Images/BenchKerryCompressed.webp");
  background-size: cover;
  background-position: bottom;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  /* text-align: center; */
  /* background-color: antiquewhite; */
  /* background-blend-mode: difference; */
  /* position: relative; */

/* .name::after { */
  /* position: absolute; */
  /* inset: 0; */
  /* inset-block-end: 20rem; */
  /* background-color: aqua; */
  /* top: 0; */
  /* left: 0; */
  /* width: 7ch; */
  /* height: 5ch; */
  /* content: "sdafffffffffffffffffffffffffffffff"; */
  /* -webkit-background-clip: text;
  background-clip: text; */
  /* color: transparent; */
  /* background: transparent; */

span {
  display: block;
}

span:nth-of-type(2) {
  padding-left: 1ch;
}

span:nth-of-type(3) {
  padding-left: 2ch;
}

  /* color: black; */


/* 
.name::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #355f08;
  z-index: -1;
  mix-blend-mode:screen;

} */

.letters {
  display: inline;
  text-align: center;
}

.web-design-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
}

.web-design {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.18em;
  font-weight: 400;
  color: white;
  text-shadow: none;
  top: 8em;
}

.hero-image-br {
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/BenchKerryCompressed.webp");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  position: relative;

  /* background-clip: text; */
  /* background-image: url("../../Assets/Images/BenchKerryCompressed.webp"); */
  /* background-position: 50% -10vh, 0 -70vh; */
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  /* border-radius: 0 0 0 10000px/1000px; */
  /* isolation: isolate; */
  /* background-attachment: fixed, fixed; */
}

/* .hero-image-br::after {
  content: "";
  position: absolute;
  background-color: var(--clr-two);
  height: 300px;
  width: 100%;
  bottom: 0;

  -webkit-mask-image: url(../../Assets/SVG/Curve.svg);
  mask-image: url(../../Assets/SVG/Curve.svg);
  mask-repeat: no-repeat;
  mask-position: bottom;
} */

@media (min-width: 2560px) {
  .hero-wrapper {
    font-size: 250px;
  }
}

@media (max-width: 2560px) {
  .hero-wrapper {
    font-size: 250px;
  }
}

@media (max-width: 1440px) {
  .hero-wrapper {
    font-size: 200px;
  }
}

@media (max-width: 1024px) {
  .hero-wrapper {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    font-size: 105px;
  }
  .name {
    top: 10vh;
  }
}

@media (max-width: 425px) {
  .hero-wrapper {
    font-size: 92px;
  }
  .name {
    top: 20vh;
  }
}

@media all and (max-width: 375px) {
  .hero-wrapper {
    font-size: 78px;
  }
}

@media all and (max-width: 320px) {
  .hero-wrapper {
    font-size: 65px;
  }
}
