.hero-wrapper {
  /* height: 100vh; */
  background-color: #add8e6;
  font-size: 6rem;
  overflow: hidden;

}

.name {
  max-width:calc(var(--max-width) + 0px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: var(--clr-text);
  /* background-color: bisque; */
  position:relative;

}

.name h1 {
  font-weight: 600;
  /* width: 30rem; */
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  /* color: var(--clr-seaBlue); */
  /* background-color: blue; */
  z-index:2;
  position:relative;


}

.name p {
  font-size: .4em;
}

.cloud {
  position:absolute;
  z-index:1;
  top:10vh

}

.cloud2 {
  position:absolute;
  z-index:1;
  /* transform: scale(.5)!important; */
  top:10vh
}

.cloud3 {
  top:10vh

}

.blurb-wrapper {
  overflow: hidden;
  font-size: .4em;
  z-index:2;

}

.sailboat-wrapper {
  background-color: #ff0000;
  background-color: var(--clr-seaBlue);
  /* z-index: 2; */

  /* width: fit-content; */
  position: relative;
  height: 30vh;
}

.sailboat {
  position: absolute;
  z-index: 1;
  font-size: 7rem;
  /* width: 20px; */
  /* height: 200px; */
  /* background-color: red; */
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  top: -97px;
  left:calc(50vw - 100px);
  /* transform: translate(50%); */
  animation: sailAnimation 2s ease-in-out infinite;
  /* color:burlywood; */
  color: var(--clr-text);
}

@keyframes sailAnimation {
  0%,
  100% {
    transform: rotate(0) scaleX(-1) ;
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
}
