/* css for other projects image overlay */

/* .other-projects-container .github-btn,
.other-projects-container .live-btn {
  display: none;
} */

/* .highlight-btn {
  display: none;
  visibility: hidden;
} */

/* .other-projects-container */
.img-btn-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.7);
}

/* .other-projects-container  */
.overlay-text {
  display: block;
  top: 10%;
  font-size: 0.77rem;
}

@media (min-width: 450px) {
  .other-projects-container .overlay-text {
    display: block;
    font-size: 0.88rem;
  }
}

@media (min-width: 600px) {
  .other-projects-container .overlay-text {
    display: block;
    font-size: 0.7rem;
  }
}

@media (min-width: 900px) {
  .other-projects-container .overlay-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 1250px) {
  .other-projects-container .overlay-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1450px) {
  .other-projects-container .overlay-text {
    top: 20%;
  }
}
/* css for other projects image overlay */

/* .github-btn, */
/* .live-btn, */
.overlay-text {
  display: none;
}

.img-btn-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 22px;
  font-size: 2rem;
}

.overlay-text {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  opacity: 0;
  /* font-size: 2em; */
  text-align: center;
}

.overlay-text h4 {
  font-size: 1.5em;
}

.overlay-text p {
  font-size: 1em;
  text-align: center;
}

.highlight-btn {
  position: absolute;
  top: 66%;

  width: 4rem;
  font-size: 1rem;
  transform: translateX(-50%);
  /* opacity: 0; */
  /* display: none; */
  transition: opacity 0.35s ease;
  cursor: pointer;

  background-color: var(--clr-seven);
  color: var(--clr-four);

  border: 1px solid var(--clr-four);
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: 700;
  outline: 2px solid var(--clr-seven);
  visibility: hidden;
}

.highlight-btn:hover {
  background-color: var(--clr-two);
  color: var(--clr-seven);

  outline: 2px solid var(--clr-four);
}

.github-btn {
  left: 66%;
}
.live-btn {
  left: 33%;
}

.img-btn-container:hover .highlight-btn {
  opacity: 1;
  display: block;
  visibility: visible;
  transition: visibility 0ms 0.1s;
}

.img-btn-container:hover .overlay-text {
  opacity: 1;
  display: block;
}

@media (min-width: 700px) {
  .overlay-text {
    display: block;
  }

  .img-btn-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
  }

  .github-btn {
    display: block;
    /* text-align: center; */
  }

  .live-btn {
    display: block;
  }
}

@media (min-width: 900px) {
  .highlight-btn {
    position: absolute;
    top: 66%;
    /* font-size: 1rem; */
    padding: 0.5rem;
    width: 5rem;
  }
}
