.description-container {
  position: relative;
  z-index: 2;
  padding: 1rem 0;
}

.description {
  padding: 1em;
  font-size: 1rem;
  /* border-radius: 20px; */
  border: 2px solid var(--clr-four);
  background: rgba(27, 42, 65, 0.85); /*--clr-two as rgb */
  box-shadow: 5px 5px 10px var(--clr-one);
}

.project-heading {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-heading::first-letter {
  position: relative;
  font-size: 1.6em;
  color: var(--clr-six);
}

.description-icons {
  font-size: 1.5em;
}

.description-icons:hover {
  cursor: pointer;
}

.pos-heading {
  color: var(--clr-seven);
  color: inherit;
  font-size: 1.1em;
  font-weight: bold;
  transition: color 1s;
}


.description-container .links a{
  color: var(--clr-six);

}

@media (min-width: 425px) {
  .description-container {
    padding: 1rem;
  }
}

@media (min-width: 500px) {
  .description-container {
    padding: 2rem;
  }
}

@media (min-width: 700px) {
  .description-container {
    grid-area: 1 / 1 / 2/ 3;
    padding: 0;
    align-self: center;
  }
  .description-container .links{
    display: none;
  }

  .project1 .description {
    background: radial-gradient(circle, rgba(46, 61, 107, 1) 50%, rgba(43, 47, 89, 1) 93%);
    padding: 2rem;
    opacity: 1;
  }

  .description p {
    max-width: 70ch;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .description-container {
    grid-area: 1 / 1 / 1 / 3;
  }

  .description p {
    line-height: 1.7;
  }
}
