.description-container {
  position: relative;
  z-index: 2;
  /* so pos image sits behind */
  /* padding: 1rem 0; */
}

.description {
  background-color: orangered;

  display: flex;

  /* box-shadow: -5px 5px 5px var(--clr-one); */
  box-shadow: 5px 5px 10px var(--clr-one);

}

.waiter-img {
  width: 100%;
}

.waiter-img-wrapper {
  width: 70%;
}

.img-text-container {
  position: relative;
  background-color: rgb(27, 42, 65);
  /* background: var(--clr-two); */

  /* color:white; */

  /* display: inline-block; */
  width: 30%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.img-text-container > p {
  position: absolute;
  top: 2rem;
  left: -269px;
  font-size: 2.2rem;
  font-weight: 900;
  /* background-color: white; */
  padding: 0.1rem;
}

.img-text-container p span {
  /* color: white; */
  display: inline-block;
  background-color: hsl(22, 15%, 90%);
  padding-right: 1rem;
}

.inner-text {
  /* position: relative; */
  color: white;
  width: calc(100% + 102.56px);
  transform: translate(-102.56px);
  background-color: rgb(27, 42, 65);
  /* background-color: red; */
  margin-top: 2rem;

}
.inner-text > p {
  padding: 1rem;
}

.inner-text p:nth-child(3){
  text-align: end;
  padding-right: 2rem;
}

@media (min-width: 700px) {
  .project1 .description {
    opacity: 1;
  }
}
