.projects {
  padding-top: 2rem;
  border-bottom: 0;
  width: 100%;
  position: relative;
}

.container {
  max-width: var(--max-width);
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /* border-radius: 4px; */
  color: var(--clr-seven);
  box-shadow: 5px 5px 10px var(--clr-one);
  background-color: var(--clr-three);
  /* decide on color */
  background: radial-gradient(circle, rgba(51, 91, 126, 1) 9%, rgba(50, 54, 95, 1) 93%);
}

.project1 {
  width: 100%;
  height: 100%;
  position: relative;
}



@media (min-width: 700px) {
  .project1 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .project1 {
    /* padding: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .project1 {
    grid-template-columns: 1fr 1fr 0.9fr;
  }
}

@media (min-width: 1450px) {
  .project1 {
    grid-template-columns: 1fr 1fr 0.8fr;
  }
}
