.contact {
  /* background-color: var(--clr-two); */
  padding: 2rem 0;
}

.contact .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.contact .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .label-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.4rem;
}

label {
  border-bottom: 1px solid var(--clr-four);
}

.contact .contact-name,
.email,
.message {
  width: 90%;
  height: 2rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--clr-four);
  outline: none;
  transition: all 2s ease-out;
}

.contact .contact-name:focus,
.email:focus,
.message:focus {
  outline: 3px solid var(--clr-four);
}

.contact .message {
  height: 7rem;
}

.contact .btn-send {
  width: 50%;
  height: 3rem;
  max-width: 350px;
  background-color: var(--clr-three);
  border: 2px solid var(--clr-seven);
  color: var(--clr-seven);
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 5px 5px 10px var(--clr-one);
}

.contact .btn-send:hover,
.btn-send:focus {
  background-color: var(--clr-seven);
  border: 2px solid var(--clr-three);
  color: var(--clr-three);
  cursor: pointer;
  outline: 2px solid var(--clr-seven);
}

input,
textarea {
  color: var(--clr-seven);
}

textarea {
  resize: none;
}
