.nav {
  position: fixed;
  height: 80px;
  width: 100vw;
  z-index: 7;
  background-color: var(--clr-two);
  overflow: hidden;
  box-shadow: -5px 5px 5px var(--clr-one);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--clr-four);
  font-size: 0.8rem;
  top: 0px;
}

.nav-initial {
  transition: top 2s ease-in-out;
}

.nav-after {
  transition: top .2s ease-out;
}

.nav-up {
  top: -110px;
  transition: top .8s ease;
}

.nav__fullname {
  display: none;
  flex-grow: 1;
}

.nav ul {
  max-width: var(--max-width);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  /* padding-right: 1.5em; */
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  color: var(--clr-four);
}

.nav__contact {
  padding: 0.7em;
  border-radius: 8px;
  background-color: var(--clr-one);
  border: 2px solid white;
}

.nav__link:hover {
  color: var(--clr-seven);
}

.nav__contact:hover {
  background-color: var(--clr-two);
  border: 2px solid var(--clr-four);
}

@media (min-width: 400px) {
  .nav {
    font-size: 1rem;
  }
}

@media (min-width: 700px) {
  .nav li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .nav__fullname {
    display: block;
    flex-grow: 1;
    padding-left: 2rem;
  }
}
