.nav {
  position: fixed;
  height: 55px;
  width: 100vw;
  z-index: 10;
  /* background-color: rgba(255, 255, 255,.6); */
  background-color: var(--clr-two);

  transition: top 1s ease;
  overflow: hidden;
  top: 0px;
  box-shadow: -5px 5px 5px var(--clr-one);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__nav-wrapper {
  max-width: var(--max-width);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav__fullname-wrapper {
 display: none;
  flex-grow: 1;
}

.nav-down {
  top: -65px;
  /* height: 100px; */
}

.down {
  padding: 2em;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-right: 1.5em;
}

.nav ul li {
  /* padding-left: 0.5em;
  padding-right: 0.5em; */
}

.nav__contact {
  text-decoration: none;
  font-weight: 700;
  padding: 0.7em;
  transition: all 1s ease;
  color: var(--clr-four);
  border-radius: 8px;
  background-color: var(--clr-one);
  border: 2px solid white;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  padding: 0.7em;
  transition: all 1s ease;
  color: var(--clr-four);
}

.nav__link:hover {
  color: var(--clr-seven);
}

.nav__contact:hover {
  color: var(--clr-seven);
  background-color: var(--clr-two);
  border: 2px solid var(--clr-four);
}

.down {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 700px) {
  .nav ul li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .nav__fullname-wrapper {
   display: block;
    flex-grow: 1;
    padding-left: 2rem;
  }

}
