.dev-icons {
  font-size: 3rem;
  /* background-color: var(--clr-two); */
  color: var(--clr-seven);
  padding: 2rem 0;
}
 
.dev-icons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 2rem;
}

.colored {
  padding-bottom: 0rem;
  margin: 0.5rem;
  margin-bottom: 0rem;
}

.dev-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.4rem;
  box-shadow: 2px 2px 10px var(--clr-two);
  font-family: "Nanum Pen Script", cursive;
}

.dev-icons span {
  font-size: 1rem;
}


