.test {
  height: 20vh;
  /* opacity: 0; */
  background-image: url("./Assets/Images/BenchKerryCompressed.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/Images/BenchKerryCompressed.webp");

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
