.section-heading {
  /* margin-bottom: 3rem; */
  margin: 0 auto;
  max-width: var(--max-width);
  width: 90%;
}

.section-heading h2 {
  font-size: 3.5rem;
  text-align: left;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--clr-seven);
  background-color: var(--clr-four);
  display: inline-block;
  width: 35%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 20px;
  position: relative;
}

.section-heading h2 span {
  position: relative;
  left: 3rem;
  border-left: 4px solid var(--clr-two);
  padding-left: 1rem;
  display: inline-block;
}

.section-heading h2:before {
  content: "";
  border: 2px solid var(--clr-two);
  position: absolute;
  width: 90%;
  top: 6rem;
}
